/* -------------------------------- 
Primary style
-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
        outline: 0;
        border:none;
        color: rgba(0, 0, 0, 0);
    }
body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: #bcbcbc;
  background-color: #ffffff;
    overflow: hidden;
}
a {
  text-decoration: none;
  outline: 0;
}
sup {font-size:xx-small; vertical-align:super;}
input:focus {
    outline:none;
}

/*---------------------------------*/
/*------Start Sign In Styling------*/
/*---------------------------------*/
.sign-in-container{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.sign-in-container input{
    width: 100%;
    border: 1px solid #cccccc;
    padding: 10px 6px;
    margin: 2px 0;
    font-size: 20px;
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #b7b7b7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.sign-in-container .login-btn{
    width: 100%;
    padding: 10px 6px;
    margin: 2px 0;
    font-size: 22px;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background-color: #1cbbb4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.sign-in-container .facebook-login-btn{
    width: 100%;
    padding: 11px 6px;
    margin: 2px 0;
    font-size: 20px;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    background-color: #3a5898;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.sign-in-container .facebook-login-btn img{
    margin-bottom: -3px;
}
.sign-in-container .login-btn:hover, .sign-in-container .facebook-login-btn:hover{
    cursor: pointer;
}
.or-fb-divider{
    height: 35px;
    font-size: 20px;
	font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: #b7b7b7;
    position: relative;
}
.or-fb-divider span{
    background-color: #ffffff;
    position: 
}
.or-fb-divider .strike-line{
    height: 1px;
    width: 96%;
    background-color: #b7b7b7;
    position: absolute;
    top: 50%;
    margin: 0 2%;
}
.or-fb-divider .fb-divider-text{
    margin: 0 0 0 -20px;
    width: 40px;
    text-align: center;
    background-color: #ffffff;
    position: absolute;
    top: 5px;
    left: 50%;
}
a.log-in-link:link, a.log-in-link:active, a.log-in-link:visited {
    color: #ccc;
    font-size: 16px;
    text-align: center;
    text-align: center;
}
a.log-in-link:hover{
    color: #1cbbb4;
}


/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 
Main components 
-------------------------------- */
header {
  position: relative;
  height: 40px;
  background: #EFEFEF;
  text-align: center;
  z-index:1
}
header #cd-logo {
	padding-top:2px;
	margin-bottom: 3em;
}


/* -------------------------------- 
Modal Info 
-------------------------------- */
.modal-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999999;
    top: 0px;
    left: 0px;
    display: none;
}

/* -------------------------------- 
           START Check Box
-------------------------------- */
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  background-color:#ebebeb;
  height: 21px;
  width: 21px;
  font-size:18px;
  display: block;
  position: relative;
  transition: all 0.4s;
  border: solid 5px #ebebeb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=checkbox] + label:hover {
  border: solid 2px #00bdb5;
}
input[type=checkbox]:checked + label {
  background-color:#00bdb5;
  border: solid 2px #00bdb5;
}
input[type=checkbox]:checked + label:after {
  content: 'X'; 
  color: #ffffff;
  position:absolute;
  font-weight:100;
  font-size:14px;
  top:1px;
  left:4px;
  font-family:Arial, Helvetica, sans-serif;
}
/* -------------------------------- 
          END Check Box
-------------------------------- */


/* START Radio Button */
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: $DarkBrown;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    border: 1px #ffffff solid;
}

input[type="radio"] + label span {
     background-color:#999999;
}

input[type="radio"]:checked + label span{
     background-color:#00bcb5;
}

input[type="radio"] + label span,
input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
    
}
/* End Readio Button */

/*-------------------------------
Board
-------------------------------*/
.board-container{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.board{
    overflow: auto;
    height: 103%;
    width: 103%;
    padding: 40px 2% 0 0; 
    position: relative;
    z-index: 0;
}

.example-content{
    position: relative;
}
.host-board{
    display: none;
}

/*-------------------------------
Slide Out Side Menus
-------------------------------*/
#friends, #add-friends, #add-group, #friends-timeline, #friends-board, #time-line, #search, #boards, #add-board, #me, #me-change-signature, #me-notification{
    top:40px;
    background-color:#cccccc;
  }

#me-change-signature{
    background-color: #ffffff;
    border-left: solid 1px #cccccc;
}

#me-notification{
    border-left: solid 1px #cccccc;
}

.title-col{
    padding:4px;}
.slide-section-header{
	  width:100%;
	  height:46px;
	  color:#ffffff;
	  font-size:18px;
	  border-bottom:#fff solid 1px;
	  position:relative;	  
	  clear:both;
    background-color: #cccccc;
  }
.slideout-stacked-title{
    position: absolute;
    top: 13px;
    width: 84%;
    text-align: left;
    left: 10px;
    text-transform: uppercase;
    font-size: 20px;
}
.slide-sec-title-text{
    display: inline-block;
}
.slide-section-sub-cat-title{
    text-transform: capitalize !important;
}
  .slide-in-arrow{
	  width:40px;
	  height:40px;
	  position:absolute;
	  top:3px;
	  right:1px;
      border-left: solid 1px #e1e1e1 ;
  }
  .slide-close-link{
	  margin:0px;
	  width:40px;
	  height:40px;
	  position:absolute;
	  top:0px;
	  left:0px;
	  z-index:12;
  }
  .slide-close-link img{
      background-color: #ffffff;
      transition: background-color 0.5s ease;
  }
 .slide-in-arrow:hover img{
     background-color:#00bcb5;
	 cursor:pointer;  
     transition: background-color 0.5s ease;
  }
 .add-btn{
	  width:40px;
	  height:40px;
	  position:absolute;
	  top:0px;
	  right:48px;
  }
  a.add-link:link, a.add-link:active, a.add-link:visited, a.add-link:hover{
	  margin:0px;
	  width:40px;
	  height:40px;
	  position:absolute;
	  top:3px;
	  right:0px;
	  z-index:12;
  }
.add-btn img{
      background-color: #ffffff;
      transition: background-color 0.5s ease;
  }
 .add-btn:hover img{
     background-color:#00bcb5;
	 cursor:pointer;  
     transition: background-color 0.5s ease;
  }

.close-add-btn{
	  width:40px;
	  height:40px;
	  position:absolute;
	  top:0px;
	  right:0px;
  }
  .close-add-btn img{
      background-color: #ffffff;
      transition: background-color 0.5s ease;
  }
 .close-add-btn:hover img{
     background-color:#00bcb5;
	 cursor:pointer;  
     transition: background-color 0.5s ease;
  }

  .selector-text-this-board{
	  position:absolute;
	  top:10px;
	  left:60px;
     transition: text-decoration 0.5s ease;
  }
  .selector-text-my-boards{
	  position:absolute;
	  top:10px;
	  left:180px;
     transition: text-decoration 0.5s ease;
  }
  #boards .selector-text-this-board{
	  left:72px;
  }
  .selector-text-this-board:hover{
	  color: #00bdb5;
     transition: text-decoration 0.5s ease;
      cursor: pointer;
  }
  .selector-text-my-boards:hover{
	  color: #00bdb5; 
     transition: text-decoration 0.5s ease;
      cursor: pointer;
  }
  .sub-slide-menu-title{
    display: inline-block;
    width: 90%;
    margin: 13px auto;
    padding:0 12px;
    text-align: left;
      overflow: hidden;
      height: 20px;
      text-transform: capitalize;
}
  .sub-slide-menu-title span.timeline-name{
    max-width: 172px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}
.sub-slide-menu-title span{
    display: inline-block;
}
/* hide friends other than this board */
  .friend-not-this, .my-group-item{ 
    display: none;
  }
  .add-friend-container{
      width: 100%;
      height: auto;
      display: none;
      z-index: 100;
      background-color: #ffffff;
      border-bottom: #cccccc solid 1px;
      position: relative;
  }
.add-friend-add-friend-btn, .add-friend-add-group-btn{
    width: 49%;
    padding: 14px;
    margin: 0px 0 0 0;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    border-top: none;
    border-bottom: solid 1px #dcdcdc;
    cursor: pointer;
}
.add-friend-add-group-btn{
    border-left: 1px solid #dcdcdc;
}
.add-friend-search, .create-group-title{
      position:relative;
	  top:12px;
	  left:15px;
      z-index: 50;
      clear: both;
}
.add-friend-search-field, .create-group-title-field{
    width: 280px;
    position: absolute;
    left: 48px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #999;
    color: #1cbbb4;
    padding: 0.3em 0.25em;
    text-align: center;
    font-size: 13px;
}
.add-friend-search .add-friend-search-field,
.create-group-title .create-group-title-field
{
    width: 280px;
	position: absolute;
	left: 4px;
	border-radius: 14px;
	border: 1px solid #999;
	color: #1CBBB4;
	padding: 0.4em 0.25em;
	text-align: center;
	font-size: 14px;
}
#add-friends .slide-section-content-scroll-box{
    top: 0px;
}
#add-friends ul.side-slide-item-list li,
#add-group ul.side-slide-item-list li{
	  min-height:40px;
  }
.add-friend-list .friend-img-box,
.name-group-list .friend-img-box{
  	width:40px;
  	height:40px;
  }
.add-friend-list .friend-img-box img,
.name-group-list .friend-img-box img{
  	width:40px;
  	height:40px;
  }
.add-friend-list .friend-name,
.name-group-list .friend-name{
    left: 60px;
    top:10px;
  }
.add-friend-list .plus-btn,
.name-group-list .plus-btn{
    height: 40px;
    width: 40px;
    right:0px;
    top: 4px;
    position: absolute;
    background-image:url(../img/check-icon.png);
    background-color: #1cbbb4;
}
.add-friend-list, .name-group-list{
    margin-top: 52px !important;
}
.plus-btn img{
      background-color: #cccccc;
      transition: background-color 0.5s ease;
  }
 .plus-btn:hover img{
     background-color:#00bcb5;
	 cursor:pointer;  
     transition: background-color 0.5s ease;
  }

.add-board-add-friend-btn, .add-board-add-group-btn{
    width: 49%;
    padding: 14px;
    margin: 17px 0 0 0;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    border-top: solid 1px #dcdcdc;
    border-bottom: solid 1px #dcdcdc;
    cursor: pointer;
    background-color: #cccccc;
}
.add-board-add-group-btn{
    border-left: 1px solid #dcdcdc;
}
.add-board-add-friend-list, .add-board-add-group-list{
    display: none;
    padding-bottom: 44px;
}
#add-board .slide-section-content-scroll-box{
    top: 0px;
}
#add-board ul.side-slide-item-list{
	  position: relative;
  }
#add-board ul.side-slide-item-list li{
	  min-height:40px;
  }
.add-board-list .friend-img-box{
  	width:40px;
  	height:40px;
  }
.add-board-list .friend-img-box img{
  	width:40px;
  	height:40px;
  }
.add-board-list .friend-name{
    left: 60px;
    top:10px;
  }
.add-board-list .plus-btn{
    height: 40px;
    width: 40px;
    right:0px;
    top: 4px;
    position: absolute;
    background-image:url(../img/check-icon.png);
    background-color: #1cbbb4;
}
.add-board-name-board input{
    width: 300px;
	position: relative;
	margin: 14px 0px 0px -37px;
	border-radius: 14px;
	border: 1px solid #999;
	color: #1CBBB4;
	padding: 0.45em 0.25em;
	text-align: center;
	font-size: 14px;
}
.add-board-pub-prive-contianer{
    width: 86px;
    display: inline-block;
    margin: 20px 0 0 52px;
    color: #ffffff;
}
.add-board-pp-text{
    font-size: 18px;
}
.add-board-pub-prive-contianer input[type="radio"] + label span {
     margin-top:-4px;
}
.create-board-btn-container, .request-friend-btn-container, .create-group-btn-container{
    position:absolute;
    bottom: 88px;
    height: 48px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    border-top: 1px solid #ffffff;
    z-index: 999;
}
.create-new-board-btn, .update-signature, .request-friend-btn, .create-group-btn{
    margin: 6px auto;
    text-align: center;
    color: #ffffff;
    width: 180px;
    background-color: #1cbbb4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 25px;
    padding: 4px;
    height: 36px;   
    cursor: pointer;
}
.update-signature-btn-container{
    position:absolute;
    bottom: 86px;
    height: 48px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    border-top: 1px solid #ffffff;
    z-index: 999;
}

.modal-message-box{
      width: 80%;
      height: 80%;
      position: fixed;
      top: 10%;
      left:10%;
      background: #ffffff;
      text-align: center;
      display: none;
      overflow: hidden;
      padding:12px;
  }
.modal-message-box p{
    font-size:24px;
}
  .booya{
      font-family: 'Architects Daughter', "Comic Sans MS", cursive;
      font-size: 64px;
      color: #1cbbb4;
      margin: 10% 10% 25px;
}
   .bodal-bt-container{
       margin: 42px auto;
    }
a.modal-btn:link, a.modal-btn:active, a.modal-btn:visited, a.modal-btn:hover{
    margin: 6px auto;
    text-align: center;
    color: #ffffff;
    width: 180px;
    background-color: #1cbbb4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 25px;
    padding: 4px 10px;
    height: 36px;   
    cursor: pointer;
}
a.btn-grey:link, a.btn-grey:active, a.btn-grey:visited, a.btn-grey:hover {
    border: solid 1px #999;
    font-size: 18px;
    color:#999;
    background-color: #fff;
}
  .create-board-btn-container{
    position:absolute;
    bottom: 88px;
    height: 48px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    border-top: 1px solid #ffffff;
    z-index: 999;
}
/*------------- Email invite -----------*/
.invite-slide-2, .invite-slide-3{
    display: none;
}
.email-invite-field{
    width: 88%;
    max-width: 600px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border:1px solid #999;
	color:#1cbbb4;
	padding:.3em;
	text-align:center;
	font-size:14px;
    margin: 30px 0 0 0;
}
.ps-invite{
    font-size: 14px;
}

/* ------------- Me Section ---------- */
#me .add-btn img {
margin-top:6px;
}
#me .slide-section-content-scroll-box{
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
}
.me-user-name{
    width: 100%;
    padding: 12px; 
    text-align: left;
    font-size: 22px;
    font-family: 'Architects Daughter', "Comic Sans MS", cursive;
    width: 100%;
    text-align: left;
}
.me-tac-coin-contianer{
    float: right;
    width: 33%;
    text-align: left;
    height: 35px;
    margin: 12px 0 0 0;
    position: relative;
}
.coin-count-number{
    font-size: 16px;
    color: #bcbcbc;
    position: absolute;
    top: 6px;
    left: 34px;
}
.account-info-container{
    width: 100%;
    height: auto;
    padding: 12px;
    clear: both;
    margin: 22px 0px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    overflow: auto;
}
.me-profile-image{
    float: left;
    height: 75px;
    width: 75px;
    margin: 0 12px 0 0;
    overflow: hidden;
    text-align: center;
}
.me-profile-image img{
    height: 75px;
    width: 75px;
}
.account-credentials{
    height: 75px;
    float: left;
}
.me-email, .me-password{
    font-size: 14px;
    color: #bcbcbc;
    margin: 2px 0;
    clear: both;
    line-height: 18px;
}
.me-change-account-info{
    font-size: 14px;
	position:absolute;
	top:184px;
	left:100px;
}
.me-change-account-info a:link, .me-change-account-info a:hover, .me-change-account-info a:visited, .me-change-account-info a:active{
    color:#1cbbb4;
}
.me-log-out{
    font-size: 14px;
	position:absolute;
	top:184px;
	right:50px;
}
.me-log-out a:link, .me-log-out a:hover, .me-log-out a:visited, .me-log-out a:active{
    color:#1cbbb4;
}
.check-scroll-bar-container{
    width: 90%;
    position: relative;
    height: 36px;
  border-bottom: 1px solid #ededed;
    margin: 0 0 14px 0;
}
.h-scroll-check-left{
    position: absolute;
    top:-4px;
    left: 12px;
}
.h-scroll-check-right{
    position: absolute;
    top:-2px;
    left: 38px;
}
.me-stat-container{
    width: 100%;
    padding: 0 12px;
    font-size: 14px;
    color: #bcbcbc;
    margin: 0px;
}
.me-stat-container p{
    text-transform: uppercase;
    margin: 0 0 4px 0 ;
}
.me-stat-container ul{
    list-style: none;
    line-height: 24px;
}
.me-stat-container ul li span{
}

/* -----------------------------*/
/* ---- START Notifications ----*/
/* -----------------------------*/
#me-notification .slide-section-content-scroll-box{
    background-color: #ffffff;
}
.notification-by-type-container, .notification-settings {
    display: none;
}
.notification-counter{
    height: 16px;
    min-width: 16px;
    text-align: center;
    width: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #ffa70f ;
    position: absolute;
    font-size: 13px;
    padding: 1px 2px;
    top: 6px;
    left: 50%;
	margin:0 0 0 -24px;
    z-index: 99;
    color: #ffffff;
}
ul.notifications-list{
	list-style:none;
	width:100%;
	position:relative;
}
ul.notifications-list li{
	border-bottom:1px solid #ececec;
	position:relative;
	padding:10px 8px 10px 16px;
	margin:3px 0px;
	border-left-width:2px;
	border-left-style:solid;
}
ul.notifications-list li h3{
	font-size:17px;
	color:#999999;
	font-weight:normal;
	margin:0px 0 6px 0;
    font-family: "Source Sans Pro", sans-serif;
}
ul.notifications-list li p{
	font-size:15px;
	color:#bcbcbc;
	margin:5px 0 0 0;
    font-family: "Source Sans Pro", sans-serif;
}
.indicator-invite{border-left-color: #00CC33 !important; }
.indicator-new-tac-host{border-left-color: #00bff3  !important;}
.indicator-new-guest-host{border-left-color: #63C !important;}
.indicator-new-tac-guest{border-left-color: #F90 !important;}
.indicator-new-guest-guest{border-left-color: #C00 !important;}
.notification-date{
    width: 125px;
    float: left;
    display: block;
    font-size: 14px;
    margin: 12px 0 0 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #bcbcbc;
}
.notification-btn-pos{
	display:inline-block;
	margin:6px 0 0 0px;
	width:80px;
	text-align:center;
	padding:4px;
	background-color:#ffffff;
	color:#00bdb5;
    font-family: "Source Sans Pro", sans-serif;
	border:solid 1px #00bdb5;
	font-weight:normal;
	cursor:pointer;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.notification-btn-pos:hover{
	background:#00bdb5;
	color:#ffffff;
}
.notification-btn-neg{
	display:inline-block;
	margin:6px 15px 0 42px;
	width:22px;
	text-align:center;
	padding:4px;
    font-family: "Source Sans Pro", sans-serif;
	background-color:#ffffff;
	color:#F93;
	border:solid 1px #F93;
	font-size:13px;
	font-weight:normal;
	cursor:pointer;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.notification-btn-neg:hover{
	background:#f93;
	color:#ffffff;
}
.notification-type-header{
    width: 100%;
    text-align: left;
    color: #cccccc;
    font-size: 18px;
    padding: 20px 0 6px 12px;
    text-transform: uppercase;
    background-color: #ffffff;
}
div.indicator-invite{border-left:solid 2px #00CC33; color:#00CC33;}
div.indicator-new-tac-host{border-left:solid 2px #00bff3; color:#00bff3;}
div.indicator-new-guest-host{border-left:solid 2px #63C; color:#63C;}
div.indicator-new-tac-guest{border-left:solid 2px #F90; color: #F90;}
div.indicator-new-guest-guest{border-left:solid 2px #C00; color: #C00;}

h2.notifications-settings-header{
  font-size: 18px;
  padding: 6px 10px 13px 11px;
  border-bottom: 1px solid #ececec;
  margin: 2px 0;
  line-height: 21px;
}
.notification-settings-item{
	padding:20px 0 20px 20px;
	border-bottom:1px solid #ececec;
    margin: 2px 0;
}
.notification-settings-item label{
	color: #ccc;
}
h3.notification-settings{
	font-size:17px;
	color:#999999;
	font-weight:normal;
	margin:0px 0 8px 0;
    font-family: "Source Sans Pro", sans-serif;
}
.notification-settings-option{
	display:inline-block;
	width:32%;
	text-align:left;
	height:22px;
	position:relative;
}
.not-set-left{
	display:inline-block;
	width:24px;
}
.not-set-right{
	display:inline-block;
	width:auto;
	height:22px;
	position:absolute;
	top:1px;
	left:30px;
}
/* -----------------------------*/
/* ------ END Notifications ----*/
/* -----------------------------*/



/* -----------------------------*/
/* --- START Change Signature --*/
/* -----------------------------*/
.me-change-signature-btn{
    float: left;
    padding:8px 10px 10px;
    margin: 8px 12px 0 12px;
    background-color: #1cbbb4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    width: 45%;
    text-align: center;
    cursor: pointer;
}
#me-change-signature .me-user-name{
    font-size: 18px;
}
#me-change-signature .me-tac-coin-contianer {
    float: right;
    width: 33%;
    text-align: left;
    height: 25px;
    margin: -4px 0 0 0;
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    color: #bcbcbc;
    font-size: 14px;
}
.all-color-selection-container, .all-font-selection-container{
    width: 100%;
    height: auto;
    padding: 12px 0 12px 12px;
    border-top: 1px solid #ededed;
    position: relative;
}
.color-option-container{
    height: 32px;
    width: 32px;
    display: inline-block;
    margin:6px 16px 12px 0;
}
.color-option{
    height: 32px;
    width: 32px;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
}
.color-option img{
    float: left;
    margin: 5px 0 0 1px;
}
.color-cost-dollar{
    display: inline;
    font-weight: 900;
    font-size: 29px;
    color: #fff;
    margin: 0px 8px;
}
.font-cost-dollar{
    display: inline-block;
    font-weight: 900;
    font-size: 24px;
    position: relative;
    top:-5px;
    width: 12px;
}
ul.font-selection{
  width: 100%;  
}
ul.font-selection li{
  width: 300px; 
    position: relative;
}
.font-choice-sample{
    width: 300px;
    display: inline-block;
    margin: 0px 0 0 8px;
    position: absolute;
    font-size: 18px;
}
.all-color-selection-container input[type="radio"] + label span, .all-color-selection-container input[type="radio"]:checked + label span{
    margin:-24px 0 0 23px;
}
.signature-radio-column{
    position: absolute;
    left: 10px;
    top: 23px;
    width: 20px;
    height: 500px;
}
.signature-radio-column ul{
    margin-bottom: 126px;
}

.all-font-selection-container input[type="radio"] + label span, .all-font-selection-container input[type="radio"]:checked + label span{
    margin-bottom:21px;
}

.font-locked-radi0{
    margin:-8px 0 20px -3px;
}
/* -----------------------------*/
/* ---- END Change Signature ---*/
/* -----------------------------*/

/* ------------ END ME ------------ */

  .slide-section-content-scroll-box{
	  height: 100%;
	  overflow-y: scroll;
	  width: 340px;
	  position: absolute;
	  top: 0px;
	  overflow-x: hidden;
	  z-index: 50;
      /*padding-bottom: 42px;*/
  }
  ul.side-slide-item-list{
	  width:100%;
	  clear:both;
	  position:relative;
	  margin:0 0 12px 0;
      background-color: #cccccc;
  }
  ul.side-slide-item-list li{
	  width:318px;
	  min-height:90px;
	  background-color:#ffffff;
	  margin:0 0 1px 1px;
	  overflow:hidden;
	  position:relative;
	  overflow:hidden;
  }
  ul.side-slide-item-list li.my-group-item{
	  width:318px;
	  min-height:42px;
	  background-color:#ffffff;
	  margin:0 0 1px 1px;
	  overflow:hidden;
	  position:relative;
	  overflow:hidden;
  }
li.my-group-item .friend-name{
    left: 50px;
    top: 12px;
    font-size: 18px;
}
.groups-menu-nav-container{
    position: absolute;
    top: 48px;
    width: 100%;
    padding: 3px;
    overflow: hidden;
}
.groups-menu-btn{
    position: absolute;
    right: 2%;
    top: 9px;
    background-color: #1cbbb4;
    width: 25px;
    height: 25px;
}

#cd-nav ul li.search-field-nav{
    display: inline-block;
}
#cd-nav ul li.search-btn{
    display: none;
}
.side-slide-item-list-bottom-pad{
    margin-bottom: 132px;
} 
  
/* friend specific styles */
.slide-section-friend-container{
  	position:absolute;
  	left:0px;
  	bottom:0px;
  	width:320px;
  	overflow:hidden;
  	/*height: calc(100% - 40px);*/
    margin-bottom:-46px;
    height: 100%;
    padding-bottom: 46px;
}
.friend-img-box{
  	width:90px;
  	height:90px;
  	position:absolute;
  	left:0px;
  	top:0px;
	overflow:hidden;
  }
.friend-name{
	font-family: 'Architects Daughter', "Comic Sans MS", cursive;
	position:absolute;
	left:100px;
	top:8px;
	font-size:16px; 
    width: 214px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 24px;
}
a.friend-menu-btn:link, a.friend-menu-btn:active, a.friend-menu-btn:visited {
	height:25px;
	width:25px;
	position:absolute;
    top:60px;
	right:4px;
	background-color:#cccccc;
	transition: background-color 0.5s ease;
}
a.friend-menu-btn:hover {
	transition: background-color 0.5s ease;
	background-color:#00bcb5;
}
a.friend-jump-btn:link, a.friend-jump-btn:active, a.friend-jump-btn:visited {
	height:25px;
	width:25px;
	position:absolute;
	top:6px;	
	right:2px;
	background-color:#cccccc;
	transition: background-color 0.5s ease;
}
a.friend-jump-btn:hover {
	transition: background-color 0.5s ease;
	background-color:#00bcb5;
}
a.friend-invite-request-btn:link, a.friend-invite-request-btn:active, a.friend-invite-request-btn:visited {
	height: 29px;
    width: 33px;
    position: absolute;
    top: -1px;
    right: 5px;
	background-color:#cccccc;
	transition: background-color 0.5s ease;
}
a.friend-invite-request-btn:hover {
	transition: background-color 0.5s ease;
	background-color:#00bcb5;
}
.friend-menu-container{
    position:absolute;
	font-size:16px;
	top:96px;
	left:4px;
    height: 50px;
    width: 98%;
    padding: 4px;
}
.friends-tacs-line{
	position:absolute;
	font-size:16px;
	top:44px;
	left:101px;
	color:#bcbcbc;
}
.friends-tacd-line{
	position:absolute;
	font-size:16px;
	top:64px;
	left:101px;
	color:#bcbcbc;
}
.friends-youve-tacd-line{
	position:absolute;
	font-size:16px;
	top:6px;
	left:8px;
	color:#bcbcbc;
}
.friends-tacd-you-line{
	position:absolute;
	font-size:16px;
	top:26px;
	left:8px;
	color:#bcbcbc;
}
.friends-menu-time-line-check-contianer span{
    display: inline-block;
    max-width: 110px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
    margin: 0 0 -6px -1px;
}
.friends-menu-time-line-check-contianer{
    position:absolute;
	font-size:16px;
	top:50px;
	left:8px;
	color:#bcbcbc;
}
.friends-menu-check-left{
    display: inline-block;
    width: 24px;
}
.friends-menu-check-right{
    display: inline-block;
    width: 300px;;
    position:absolute;
    top:2px;
    left:25px;
}      
.friend-menu-nav-container{
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 3px;
    height: 40px;
}
ul.friend-menu-nav{
    width: 100%;
}
#friends ul.friend-menu-nav{
   width: 223px;
   position: absolute;
   top: 54px;
   left: 92px;
}
ul.friend-menu-nav li{
    display: inline-block;
	text-align:center;
	/*border-left:1px #ffffff solid;*/
	height:40px !important;
    overflow: hidden;
    width: auto;
    margin: 0 20px 0 0;
}
#friends ul.friend-menu-nav li{
    display: inline-block;
	text-align:center;
	/*border-left:1px #ffffff solid;*/
	height:40px !important;
    overflow: hidden;
    width: auto;
    margin: 0 5px 0 0;
}
ul.friend-menu-nav li.friend-menu-last{
    display: inline-block;
	text-align:center;
	/*border-left:1px #ffffff solid;*/
	height:40px;
    width: auto;
    margin-right:0px; 
}
ul.friend-menu-nav li a img{
    background-color: #cccccc;
}
ul.friend-menu-nav li a:hover img{
    background-color: #00bcb5;
}
/* Timeline specific */
#time-line ul.side-slide-item-list li{
    cursor: pointer;
}
 ul.timeline-slide-list li{
	 height: auto; 
     min-height:90px;
  }
.timeline-date-header{
    width: 100%;
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    padding: 6px 0 6px 12px;
    text-transform: uppercase;
}
.time-line-tac{
    width: 100%;
    font-size: 16px;
    padding: 6px 6px 6px 10px;
    line-height: 20px;
    display: inline-block;
    font-family: 'Architects Daughter', "Comic Sans MS", cursive;
}
.time-line-tac span{
    padding-top: 4px;
}
.time-line-img{
    max-width: 110px;
    padding-left: 4px;
}
.time-line-username{
    width: auto;
    min-width:174px;
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 16px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-family: 'Architects Daughter', "Comic Sans MS", cursive;
}
.time-line-tac-copy{
    width: auto;
    display:block;
    font-size: 14px;
    margin: 0;
    font-family: 'Architects Daughter', "Comic Sans MS", cursive;
}
.all-timeline{
    display: none;
}
.tl-date{
    width: 100%;
    float: left;
    display: block;
    font-size: 14px;
    margin: 2px 0 0 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #bcbcbc;
}
.tl-board-name{
    width: 100%;
    float: left;
    display: block;
    font-size: 14px;
    margin: 2px 0 0 0;
    font-family: "Source Sans Pro", sans-serif;
    color: #bcbcbc;
}
.timeline-tac-delete{
    width:28px;
    height: 28px;
    border-radius: 50%;
    border: solid 1px #fff;
    position: absolute;
    bottom: 8px;
    right: 8px;
    overflow: hidden;
    background-color: #ccc;
     transition: background-color 0.5s ease;
    }
.timeline-tac-delete:hover{
    background-color: #1cbbb4;
    border: solid 1px #1cbbb4;
     transition: background-color 0.5s, border  0.5s ease;
}
.timeline-tac-delete img{
    position: absolute;
    top: -8px;
    left: -6px;
}
#time-line ul.side-slide-item-list:nth-last-child(-n+2) {
    background-color: red;
    margin: 0 0 88px 0 !important;
}

/* boards specific */
ul.boards-slide-list li{
	 height: 70px; 
  }

.board-title{
	font-family: 'Architects Daughter', "Comic Sans MS", cursive;
	position:absolute;
	left:8px;
	top:8px;
	font-size:16px; 
    width: 290px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 22px;
}
.board-host{
	position:absolute;
	left:8px;
	top:44px;
	font-size:16px; 
    width: 190px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 24px;
}
.board-number-of-guests{
	position:absolute;
	font-size:16px;
	top:64px;
	left:8px;
	color:#bcbcbc;
}
.board-menu-container{
    position:absolute;
	font-size:16px;
	top:86px;
	left:4px;
    height: 50px;
    width: 98%;
    padding: 4px;
}
.board-created-on-date{
	position:absolute;
	font-size:16px;
	top:5px;
	left:6px;
	color:#bcbcbc;
}
.board-last-tacd{
	position:absolute;
	font-size:16px;
	top:26px;
	left:6px;
	color:#bcbcbc;
}
.board-menu-nav-container{
    position: absolute;
    top: 48px;
    width: 100%;
    padding: 3px;
    height: 40px;
}
.board-sub-menu-pub-priv{
    width: 122px;
    height: auto;
    position: absolute;
    top: 4px;
    right: 5px;
    background-color: #bcbcbc;
}
.board-sub-menu-private, .board-sub-menu-public{
    font-size: 16px;
    padding: 7px;
    color:#ffffff;
    background-color: #bcbcbc;
    display: inline-block;
    margin: 0px;
    text-align: center;
}
.board-sub-menu-private{
    background-color:#1cbbb4;
}
.board-sub-menu-private:hover, .board-sub-menu-public:hover{
    cursor: pointer !important;
}

.li-board-lock{
    height: 30px !important;
    overflow: hidden !important;
    position: relative;
    width: 40px;
}
.li-board-lock img.unlocked{
    position: absolute;
    top: -30px;
    left: 0px;
}
.li-board-lock img.locked{
    position: absolute;
    top: 0px;
    left: 0px;
}

/* --------------------------------
------------tool tip---------------
---------------------------------*/
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:98px;
  color: #FFFFFF;
  font-size: 17px;
  background: #707070;
  height: 40px;
  line-height: 40px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  top: 40px;
  left: 50%;
  margin-left: -49px;
  opacity:0;
  transition:visibility 0s linear 0.33s, opacity 0.33s linear, top 0.33s linear;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #707070;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  transition-delay:1.05s;
  opacity: 1.0;
  top: 50px;
  left: 50%;
  margin-left: -49px;
  z-index: 999;
}

/* --------------------------------
----------------nav----------------
---------------------------------*/
#cd-nav ul {
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 25px;
  bottom: 15px;
}
a.search-btn:link{
          display:block;
  }
.search-container-mobile{
    display: none;
}
li.nvbtn{
	background-color:transparent;
}
li.nvbtn:hover img {
    transition: background-color 0.5s ease;
	background-color:#00bcb5 ;
}
li.nvbtn img{
	transition: background-color 0.5s ease;
	background-color:#b7b7b7 ;
}
#cd-nav li a {
  display: block;
  padding: 4px;
  height:40px;
}
#cd-nav li .search-box {
  display: block;
  padding: 4px;
  height:40px;
}
#cd-nav ul li .search-box input{
	width: 72%;
	position: absolute;
	left: 4.5em;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border:1px solid #999;
	color:#1cbbb4;
	padding:.3em;
	text-align:center;
	font-size:14px;
}
#cd-nav li:last-child a {
  border-bottom: none;
}
#cd-gallery-items li {
  margin-bottom: 1.5em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
}
#cd-gallery-items li img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
}
.invite-nav-button{
  height: 40px;
  text-align: center;
  padding: 10px 16px;
  background-color: #999;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.invite-nav-button:hover{
    background-color: #1cbbb4;
     transition: background-color 0.5s ease;
}

/* --------------------------
Selector Dropdown Styling
---------------------------*/

.dd-mini-menu{ 
    margin:0px 0 0 4px;
    position: absolute;
    right: 0px;
    top:-6px;
    background-color: #ffffff;
    cursor:pointer;  
     transition: background-color 0.5s ease;
}
.dd-mini-menu:hover{ 
    background-color:#00bcb5;
     transition: background-color 0.5s ease;
}

::selection {
    background: transparent; 
}
::-moz-selection {
    background: transparent; 
}
.selector-dd-container{
    font-weight: 400;
    display: inline-block; 
    background-color: transparent;
    text-transform: capitalize;
    font-size: 18px;
    /*border: solid 1px #E5E5E5;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-align: left;
}
.selector-dd-container:after {
    clear: both;
    content: "";
    display: table;
}
.selector-dd {
    position: absolute;
    right:1px;
    top: 0px;
    z-index: 9999;
    width: 278px;
    margin: 0 auto;
    padding: 5px 6px 6px 6px;
    cursor: pointer;
    outline: none;
    color: #fff;
    text-align: center;
}
.selector-dd:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -3px;
}
#boards .selector-dd:after {
    right: 10px;
}
.selector-dd .dropdown {
    position: absolute;
    top: 32px;
    left: 0;
    right: -42px;
    text-align: center;
    background: white;
    /*border-radius: 4px;*/
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}
.selector-dd .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 53px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #fff transparent;    
}
.selector-dd .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 51px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}
.selector-dd .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #999999;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.selector-dd .dropdown li i {
    float: right;
    color: inherit;
}
.selector-dd .dropdown li:first-of-type a {
    border-radius: 4px 4px 0 0;
}
.selector-dd .dropdown li:last-of-type a {
    border-radius: 0 0 4px 4px;
    border: none;
}
/* Hover state */
.selector-dd .dropdown li:hover a {
    color: #1cbbb4;
    background-color: #f9f9f9;
}
/* Active state */
.selector-dd.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
/* No CSS3 support */
.no-opacity       .selector-dd .dropdown,
.no-pointerevents .selector-dd .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}
.no-opacity       .selector-dd.active .dropdown,
.no-pointerevents .selector-dd.active .dropdown {
    display: block;
}
/*-------------------------------
END Selector Dropdown Styling
-------------------------------*/


/*-------------------------------
------------PHONE----------------
-------------------------------*/

@media only screen and (min-width: 320px) {

/* Start Sign in page */
.tac-logo{
	margin:10% auto;
    text-align: center;
}
.tac-logo img{
    width: 200px;
    height: 82px;
}
/* End Sign in page */

header #cd-logo {
padding-top:4px;
position: absolute;
left: 0px;
  width: 28%;
  text-align: right;
}
header #cd-logo img {
width: 81px;
height: 34px;
}
.this-board-title{
  width: auto;
  color: #999999;
  font-size: 16px;
  padding-top: 12px;
  position: absolute;
  right: 0px;
  width: 72%;
  text-align: center;
}
.booya{
  font-size: 42px;
}  
#cd-nav ul {
      width:100%;
      max-width:100%;
      height: 50px;
      right: 0px;
      bottom: 0px;
      background: #efefef;
      box-shadow: none;
      overflow: hidden;
      z-index: 1;
      position: fixed;
      z-index: 999999;
}
 #cd-nav ul li {
	display: inline-block;
	width: 20%;
	padding-top:4px;
	text-align: center;
}  
#cd-nav li.tac-btn {
    background-color: #1cbbb4;
 }
#cd-nav li.tac-btn img{
    background-color: #fff;
 }
 #cd-nav ul li {
	display: inline-block;
	width: 19%;
	padding-top:6px;
	text-align: center;
	height: 50px;
}
.tac-icon-mobile{
    display: inline-block;
}
.tac-icon-computer{
    display: none;
}
#cd-nav ul li.search-field-nav{
	display: none;
}
.side-slide-item-list-bottom-pad{
	margin-bottom: 132px;
} 
ul.side-slide-item-list{
  margin:0 0 12px 0;
} 
.search-container-mobile{
   width: 100%;
   height: 40px;
   position: fixed;
   bottom: 50px;
   background-color: #ebebeb;
   text-align: center;
   z-index: 999;
}
.search-container-mobile .search-field{
	width: 50%;
	margin: 8px 0 0 0;
	padding: 4px;
	text-align: center;
   -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #999;
	color:#1cbbb4;
   font-size: 12px;
}
.selector-dd .dropdown li a {
	padding: 20px 10px;
}
.signature-radio-column ul{
    margin-bottom: 186px;
}  
.update-signature-btn-container{
    position:absolute;
    bottom: 136px;
    height: 48px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    border-top: 1px solid #ffffff;
    z-index: 999;
}
}


/*---------------------------------
-------------Tablet----------------
---------------------------------*/

@media only screen and (min-width: 770px) {
	
/* Start Sign in page */
.tac-logo{
	margin:8% auto;
    text-align: center;
}
.tac-logo img{
    width: 250px;
    height: 103px;
}
/* End Sign in page */
	
  header {
    margin-bottom: 4em;
  } 
  header #cd-logo {
	padding-top:2px;
    position: absolute;
    left: 0px;
    width: 33%;
    text-align: center;
  }
  header #cd-logo img {
	width: 90px;
    height: 38px;
  }
  .this-board-title{
      width: auto;
      color: #B7B7B6;
      font-size: 18px;
      padding-top: 11px;
      position: absolute;
      right: 0px;
      width: 60%;
      text-align: center;
  }
  #cd-gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
 #cd-nav ul li {
        width: 19.5%;
    }
   .search-container-mobile{
       width: 100%;
       height: 40px;
       position: fixed;
       bottom: 50px;
       background-color: #ebebeb;
       text-align: center;
       z-index: 999;
   }
   .search-container-mobile .search-field{
        width: 50%;
        margin: 8px 0 0 0;
        padding: 4px;
        text-align: center;
       -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border:1px solid #999;
        color:#1cbbb4;
       font-size: 12px;
   }
    .selector-dd .dropdown li a {
        padding: 20px 10px;
    }

.create-board-btn-container, .request-friend-btn-container, .create-group-btn-container{
    position:absolute;
    bottom: 88px;
    height: 48px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    border-top: 1px solid #ffffff;
    z-index: 999;
    }
    .booya{
      font-size: 52px;
    }

.signature-radio-column ul{
    margin-bottom: 186px;
}   
.update-signature-btn-container{
    position:absolute;
    bottom: 136px;
    height: 48px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    border-top: 1px solid #ffffff;
    z-index: 999;
}

}


/*---------------------------------
------------Computer---------------
---------------------------------*/
@media only screen and (min-width: 1000px) {

/* Start Sign in page */
.tac-logo{
	margin:5% auto;
    text-align: center;
}
.tac-logo img{
    width: 300px;
    height: 123px;
}
/* End Sign in page */
  
  header {
    height: 40px;
  } 
  header #cd-logo {
    position: absolute;
    left: 5%;
      width: auto;
  }
  header #cd-logo img {
	width: 90px;
    height: 38px;
  }
.this-board-title{
    width: auto;
    color: #B7B7B6;
    font-size: 18px;
    padding-top: 11px;
    position: absolute;
    right: 52%;
    width: auto;
    text-align: center
}    
   #cd-nav ul li.search-field-nav{
        display: inline-block;
    }
  .booya{
      font-size: 64px;
    }
 .create-board-btn-container, .request-friend-btn-container, .create-group-btn-container{
    position:absolute;
    bottom: 40px;
    height: 48px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    border-top: 1px solid #ffffff;
    z-index: 999;
}
#cd-nav ul {
    /* the navigation moves to the top */
    position: absolute;
	top:0px;
    width: 300px;
    max-width: none;
    background: transparent;
    box-shadow: none;
	height:40px;
    right: 60px;
  }
#cd-nav li.tac-btn {
    background-color: #efefef;
  }
#cd-nav li.tac-btn img{
    background-color: #b7b7b7;
 }
.tac-icon-mobile{
    display: none;
}
.tac-icon-computer{
    display: inline-block;
}
#cd-nav ul li {
    display: inline-block;
	text-align:center;
	padding-top:1px;
	height:40px;
	width:18%;
  }
#cd-nav li a {
    opacity: 1;
  }
#cd-nav li a:hover {
    color: #00bd9b;
  }
#cd-nav.is-fixed ul {
    /* when the user scrolls down, the navigation moves to the bottom right in Fixed position - as on touch devices */
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 20px;
    top: auto;
    background: white;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.3);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  #cd-nav.is-fixed ul li {
    display: block;	
    border-bottom: 1px solid #b7b7b7;
  }
  #cd-nav.is-fixed ul li a {
    padding: 1em 1.6em;
    margin-left: 0;
  }
#cd-nav ul li .search-box {
  height:32px;
  width:160px;
  position:relative;
  display: block;
  padding: 0px 4px;
  height:32px;
}
#cd-nav ul li .search-box input{
	width:85%;
	position:absolute;
	top:16px;
	left:1.2em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #999;
	color:#1cbbb4;
	padding:.2em;
	text-align:center;
	font-size:12px;
}
.signature-radio-column ul{
    margin-bottom: 126px;
}  
.update-signature-btn-container{
    position:absolute;
    bottom: 86px;
    height: 48px;
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    border-top: 1px solid #ffffff;
    z-index: 999;
}

  .search-container-mobile{ /* hide Mobile search box */
        display: none !important;
    }
 
  .side-slide-item-list-bottom-pad{
        margin-bottom: 84px;
    } 
  ul.side-slide-item-list{
	  margin:0 0 12px 0;
  }
    
    .selector-dd .dropdown li a {
        padding: 14px 10px 16px 10px;
    }
}

/*---------------------------------
-----------END COMPUTER-------------
---------------------------------*/


@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translateX(100px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
  }

  60% {
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0);
  }

  60% {
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  60% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; 
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important; 
  outline: none !important; 
}

/*---------------------------------
-----------------------------------
Side Slide Navigation Functionality
-----------------------------------
---------------------------------*/
.ss-menu-container{
	position: absolute;
    background-color: #cccccc;
	top: 0;
    width: 320px;
	right: -320px;
	height: 100%;
	transition: right 800ms;
}

.toggleRadio {
    position: relative;
    visibility: hidden;
}

.toggle:checked ~ .allNav {right: -320px;}

.togglePeople:checked ~ .ss-people {right: 0px;} 
.toggleBoards:checked ~ .ss-boards {right: 0px;}
.toggleTimeline:checked ~ .ss-timeline {right: 0px;} 
.toggleSearch:checked ~ .ss-search {right: 0px;} 
.toggleMyAccount:checked ~ .ss-my-account {right: 0px;} 

.toggleFriendTimeline:checked ~ .ss-friend-timeline {right: 0px;}
.toggleFriendTimeline:checked ~ .ss-people {right: 320px;}
.toggleFriendTimeline:checked ~ #friends  {background-color: #fff;} 
.toggleFriendTimeline:checked ~ #friends .slide-section-header {opacity: 0.3;} 
.toggleFriendTimeline:checked ~ #friends .slide-section-friend-container {opacity: 0.3;}  

.toggleFriendBoards:checked ~ .ss-friend-boards {right: 0px;}
.toggleFriendBoards:checked ~ .ss-people {right: 320px;}
.toggleFriendBoards:checked ~ #friends  {background-color: #fff;} 
.toggleFriendBoards:checked ~ #friends .slide-section-header {opacity: 0.3;} 
.toggleFriendBoards:checked ~ #friends .slide-section-friend-container {opacity: 0.3;} 

.toggleFriendInvite:checked ~ .ss-friend-invite {right: 0px;}
.toggleFriendInvite:checked ~ .ss-people {right: 320px;} 
.toggleFriendInvite:checked ~ #friends  {background-color: #fff;} 
.toggleFriendInvite:checked ~ #friends .slide-section-header {opacity: 0.3;} 
.toggleFriendInvite:checked ~ #friends .slide-section-friend-container {opacity: 0.3;} 

.toggleCreateGroup:checked ~ .ss-friend-create-group {right: 0px;}
.toggleCreateGroup:checked ~ .ss-people {right: 320px;} 
.toggleCreateGroup:checked  ~ #friends  {background-color: #fff;} 
.toggleCreateGroup:checked  ~ #friends .slide-section-header {opacity: 0.3;} 
.toggleCreateGroup:checked  ~ #friends .slide-section-friend-container {opacity: 0.3;} 

.toggleBoardsCreateBoard:checked ~ .ss-boards-create-board {right: 0px;}
.toggleBoardsCreateBoard:checked ~ .ss-boards {right: 320px;} 
.toggleBoardsCreateBoard:checked ~ #boards  {background-color: #fff;} 
.toggleBoardsCreateBoard:checked ~ #boards .slide-section-header {opacity: 0.3;} 
.toggleBoardsCreateBoard:checked ~ #boards .slide-section-friend-container {opacity: 0.3;} 

.toggleMyAccountNotifications:checked ~ .ss-my-account-notification {right: 0px;}
.toggleMyAccountNotifications:checked ~ .ss-my-account {right: 320px;}
.toggleMyAccountNotifications:checked ~ #me  {background-color: #fff;} 
.toggleMyAccountNotifications:checked ~ #me .slide-section-header {opacity: 0.3;} 
.toggleMyAccountNotifications:checked ~ #me .slide-section-friend-container {opacity: 0.3;}

.toggleMyAccountChangeSignature:checked ~ .ss-my-account-change-signature {right: 0px;} 
.toggleMyAccountChangeSignature:checked ~ .ss-my-account {right: 320px;}
.toggleMyAccountChangeSignature:checked ~ #me  {background-color: #fff;} 
.toggleMyAccountChangeSignature:checked ~ #me .slide-section-header {opacity: 0.3;} 
.toggleMyAccountChangeSignature:checked ~ #me .slide-section-friend-container {opacity: 0.3;}

.slide-section-friend-container, .slide-section-header{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}